.config/ncmpcpp/error.log
.config/eww/scripts/cache
.config/hypr/scheme/current.conf
.config/cava/shaders
.config/lazygit/state.yml
.config/qimgv/theme.conf.lock
.config/qimgv/savedState.conf
.config/Equicord/equicord.asar
.config/Equicord/MessageLoggerData/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/mpd/mpdstate
.config/mpd/mpd.pid
.config/mpd/mpd.log
.config/mpd/mpd.db
.config/hypr/workspaces.conf
