/* -----------------------------------------------------
 General
 ----------------------------------------------------- */
* {
    font-family: "Fira Semibold";
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    color: #6a5acd;
    font-size: 20px;
    font-weight: 400;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    border-style: solid;
    background-color: rgba(12, 12, 12, 0.9);
    border: 3px solid #6a5acd;

    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:hover {
    background-color: rgba(30, 30, 46, 0.3); /*rgba(12, 12, 12, 0.9);*/
    color: #ff7ab2;
    border: 3px solid #ff7ab2;
}

/* -----------------------------------------------------
 Buttons
 ----------------------------------------------------- */
#lock {
    background-image: image(url("icons/lock-hover.png"));
}
#lock:focus,
#lock:hover {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout-hover.png"));
}
#logout:focus,
#logout:hover {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/sleep-hover.png"));
}
#suspend:focus,
#suspend:hover {
    background-image: image(url("icons/sleep.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate-hover.png"));
}
#hibernate:focus,
#hibernate:hover {
    background-image: image(url("icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("icons/power-hover.png"));
}
#shutdown:focus,
#shutdown:hover {
    background-image: image(url("icons/power.png"));
}

#reboot {
    background-image: image(url("icons/restart-hover.png"));
}
#reboot:focus,
#reboot:hover {
    background-image: image(url("icons/restart.png"));
}
