Config(
  max_entries: 10,
  prefix: "<",
  emoji_path: None,
  emojis: [
    (
        emoji: "😄",
        description: "grinning face with smiling eyes",
        category: "Smileys & Emotion",
        aliases: ["smile"],
        tags: ["happy", "joy", "laugh", "pleased"]
    ),
  ],
)
