* { all: unset; font-size: 1.1rem; }

#window, #match, #entry, #plugin, #main { background: transparent; }

#match.activatable {
  border-radius: 10px;
  padding: 0.3rem 0.9rem;
  margin-top: 1px;
}
#match.activatable:first-child { margin-top: 9px; }
#match.activatable:last-child { margin-bottom: 1px; }

#plugin:hover #match.activatable {
  border-radius: 10px;
  padding: 0.3rem;
  margin-top: 0.01rem;
  margin-bottom: 0;
}

#match:selected {
  color: @theme_selected_fg_color;
  font-weight: 500;
  border-radius: 10px;
  background-color: #0b0f10;
  background-image: linear-gradient(to left, rgba(194,208,245,1) 0%, rgba(166,172,247,1) 15%, rgba(245,194,231,1) 100%);
  background-origin: border-box;
}

#entry {
  border-radius: 10px;
  margin: 3px;
  padding: 5px 10px;
  caret-color: white;
  font-size: 20px;
  font-weight: 500;
}

list > #plugin {
  margin: 3px;
  padding-top: 3px;
  padding-left: 3px;

  border-top: 1px solid rgba(255,255,255,0.3);

  color: #CBA6F7;
  font-weight: 400;
}
list > #plugin:first-child { margin-top: .3rem; }
list > #plugin:last-child { margin-bottom: .3rem; }
list > #plugin:hover { padding: 5px; }

box#main {
  margin-top: 15px;
  padding: 0.3rem;

  color: rgba(255, 122, 177, 0.8);

  border-color: rgba(255, 122, 177, 0.9);
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;

  background-color: rgba(12, 12, 12, 0.7);
}

zlabel#plugin { font-size:20px; }
